body {
  scroll-behavior: smooth;
}
//Main section
.hero-image-container {
  & > img {
    // border: 1px solid black;
    border-radius: 1px;
    box-shadow: 2px 2px 5px rgb(153, 127, 244);
  }
}
.intro {
  font-size: 1.4rem;
  span {
    font-size: 2rem;
  }
}
.katya {
  font-size: 1.4rem;
  h1 {
    color: rgba(165, 32, 165, 0.67);
  }
}

#footer > div > span {
  width: 250px;
  font-size: 1rem;
  margin-bottom: 10px;
  display: flex;
  justify-items: center;
  & > a {
    display: flex;
    align-items: center;
  }
  & a > i {
    color: #0e76a8;
    font-size: 1.4rem;
  }
}
